In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import os
import matplotlib.mlab as mlab

# In directory

In [2]:
#os.listdir('json')

# Heart data

In [3]:
inDirHeart = [i for i in os.listdir('json') if i.startswith('heart_rate')]

dfHeart = pd.DataFrame()

for i in inDirHeart: 
  data = pd.read_json('./json/' + i)
  dfHeart = dfHeart.append(data, ignore_index=True)

bpm = []
days = []
for n in range(len(dfHeart.index)):
  val = dfHeart.value[n]['bpm']
  bpm.append(val)
  
  day = dfHeart.dateTime[n].dayofweek
  days.append(day)

dfHeart['bpm'] = bpm
dfHeart['day'] = days

date = []
for i in range(len(dfHeart.index)):
  val = dfHeart.loc[i].dateTime.date()
  date.append(val)

dfHeart['date'] = date

In [4]:
dfHeart.head()

dfHeart.groupby('date').agg('mean')

dfHeart.date = pd.to_datetime(dfHeart.date)

dfHeart.loc[dfHeart.date == '2019-08-20'].head()

                  dateTime                         value  bpm  day       date
298567 2019-08-20 00:00:09  {'bpm': 67, 'confidence': 2}   67    1 2019-08-20
298568 2019-08-20 00:00:24  {'bpm': 67, 'confidence': 2}   67    1 2019-08-20
298569 2019-08-20 00:00:29  {'bpm': 68, 'confidence': 2}   68    1 2019-08-20
298570 2019-08-20 00:00:34  {'bpm': 69, 'confidence': 2}   69    1 2019-08-20
298571 2019-08-20 00:00:49  {'bpm': 69, 'confidence': 2}   69    1 2019-08-20

In [5]:
dfHeart.loc[5].dateTime.time()

datetime.time(23, 0, 44)

In [6]:
dfHeart['hour'] = dfHeart.dateTime.dt.hour

# Sleep data

In [15]:
inDirSleep = [i for i in os.listdir('json') if i.startswith('sleep')]

dfSleep = pd.DataFrame()

for i in inDirSleep: 
  data = pd.read_json('./json/' + i)
  dfSleep = dfSleep.append(data, ignore_index=True)

dfSleep['date'] = pd.to_datetime(dfSleep.dateOfSleep)

daysSleep = []

for n in range(len(dfSleep.index)):
  
  day = dfSleep.date[n].dayofweek
  daysSleep.append(day)
  
dfSleep['day2'] = daysSleep

Why startTime instead of minutesAsleep? Erratic sleep patterns.

In [16]:
dfSleep.startTime = pd.to_datetime(dfSleep.startTime)

nap = []
for n in range(len(dfSleep.index)):
  if dfSleep.startTime[n].hour > 7 and dfSleep.startTime[n].hour < 21 and dfSleep.minutesAsleep[n] <= 300 :
    val = 1
  else:
    val = 0
  nap.append(val)
  
dfSleep['nap'] = nap
nap.count(0)

66

In [17]:
lengthOfNap = []
for t in range(len(dfSleep.index)):
  if dfSleep.nap[t] == 1:
    length = dfSleep.minutesAsleep[t]
  else:
    length = 0
  lengthOfNap.append(length)
  
dfSleep['lengthOfNap'] = lengthOfNap

In [18]:
dfSleep = dfSleep.drop_duplicates(['logId'], keep='last')

In [19]:
dfSleep.head()

,dateOfSleep,duration,efficiency,endTime,infoCode,levels,logId,minutesAfterWakeup,minutesAsleep,minutesAwake,minutesToFallAsleep,startTime,timeInBed,type,date,day2,nap,lengthOfNap
0,2019-08-25,33660000,93,2019-08-25T12:41:00.000,1,"{'summary': {'restless': {'count': 9, 'minutes...",23606341169,4,516,41,0,2019-08-25 03:19:30,561,classic,2019-08-25,6,0,0
1,2019-08-24,6540000,97,2019-08-24T20:47:30.000,2,"{'summary': {'restless': {'count': 2, 'minutes...",23606341168,0,106,3,0,2019-08-24 18:58:30,109,classic,2019-08-24,5,1,106
2,2019-08-24,30480000,93,2019-08-24T09:35:30.000,0,"{'summary': {'deep': {'count': 5, 'minutes': 1...",23606341166,1,436,72,0,2019-08-24 01:07:30,508,stages,2019-08-24,5,0,0
3,2019-08-23,5040000,92,2019-08-23T18:59:30.000,2,"{'summary': {'restless': {'count': 3, 'minutes...",23606341165,0,77,7,0,2019-08-23 17:35:00,84,classic,2019-08-23,4,1,77
4,2019-08-23,18180000,92,2019-08-23T07:38:30.000,0,"{'summary': {'deep': {'count': 4, 'minutes': 4...",23579185394,2,258,45,0,2019-08-23 02:35:00,303,stages,2019-08-23,4,0,0

# Steps data

In [20]:
inDirSteps = [i for i in os.listdir('json') if i.startswith('steps')]
inDirSteps

['steps-2019-08-20.json', 'steps-2019-06-21.json', 'steps-2019-07-21.json']

In [21]:
dfSteps = pd.DataFrame()

for i in inDirSteps: 
  data = pd.read_json('./json/' + i)
  dfSteps = dfSteps.append(data, ignore_index=True)

In [22]:
date = []
for i in range(len(dfSteps.index)):
  val = dfSteps.loc[i].dateTime.date()
  date.append(val)

dfSteps['date'] = date

In [23]:
dfSteps.groupby('date').agg('sum').head()

            value
date
2019-06-22    414
2019-06-23   3378
2019-06-24  16385
2019-06-25  20452
2019-06-26   4299

In [24]:
dfSteps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35328 entries, 0 to 35327
Data columns (total 3 columns):
dateTime    35328 non-null datetime64[ns]
value       35328 non-null int64
date        35328 non-null object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 828.1+ KB

# Calories data

In [25]:
inDirCalories = [i for i in os.listdir('json') if i.startswith('calories')]
inDirCalories

['calories-2019-08-20.json',
 'calories-2019-06-21.json',
 'calories-2019-07-21.json']

In [26]:
dfCalories = pd.DataFrame()

for i in inDirCalories: 
  data = pd.read_json('./json/' + i)
  dfCalories = dfCalories.append(data, ignore_index=True)

date = []
for i in range(len(dfCalories.index)):
  val = dfCalories.loc[i].dateTime.date()
  date.append(val)

dfCalories['date'] = date

  
dfCalories.head()

             dateTime  value        date
0 2019-08-20 00:00:00   0.95  2019-08-20
1 2019-08-20 00:01:00   0.95  2019-08-20
2 2019-08-20 00:02:00   0.95  2019-08-20
3 2019-08-20 00:03:00   0.95  2019-08-20
4 2019-08-20 00:04:00   0.95  2019-08-20

# Active minutes

In [27]:
inDirActive = [i for i in os.listdir('json') if i.startswith('very')]
inDirActive

['very_active_minutes-2019-06-21.json',
 'very_active_minutes-2019-07-21.json',
 'very_active_minutes-2019-08-20.json']

In [28]:
dfActive = pd.DataFrame()

for i in inDirActive: 
  data = pd.read_json('./json/' + i)
  dfActive = dfActive.append(data, ignore_index=True)

dfActive.head()

    dateTime  value
0 2019-06-21      0
1 2019-06-22      0
2 2019-06-23     20
3 2019-06-24     66
4 2019-06-25     86

# Moderately active minutes

In [29]:
inDirModerate = [i for i in os.listdir('json') if i.startswith('moderately')]
inDirModerate

['moderately_active_minutes-2019-07-21.json',
 'moderately_active_minutes-2019-06-21.json',
 'moderately_active_minutes-2019-08-20.json']

In [30]:
dfModerate = pd.DataFrame()

for i in inDirModerate: 
  data = pd.read_json('./json/' + i)
  dfModerate = dfModerate.append(data, ignore_index=True)

dfModerate.head()

    dateTime  value
0 2019-07-21      0
1 2019-07-22      0
2 2019-07-23      0
3 2019-07-24     30
4 2019-07-25      0

# Sedentary minutes

In [31]:
inDirSedentary = [i for i in os.listdir('json') if i.startswith('sedentary')]
inDirSedentary

['sedentary_minutes-2019-07-21.json',
 'sedentary_minutes-2019-06-21.json',
 'sedentary_minutes-2019-08-20.json']

In [32]:
dfSedentary = pd.DataFrame()

for i in inDirSedentary: 
  data = pd.read_json('./json/' + i)
  dfSedentary = dfSedentary.append(data, ignore_index=True)

dfSedentary.head()

    dateTime  value
0 2019-07-21    698
1 2019-07-22    679
2 2019-07-23    871
3 2019-07-24    980
4 2019-07-25    678

# Master Dataframe

In [33]:
df = pd.DataFrame()

df['averageBpm'] = dfHeart.groupby('date').agg('mean').bpm
df['stepsTaken'] = dfSteps.groupby('date').agg('sum').value
df['caloriesBurnt'] = dfCalories.groupby('date').agg('sum').value
df['nap'] = dfSleep.groupby('date').agg('sum').nap
df['lengthOfNap'] = dfSleep.groupby('date').agg('sum').lengthOfNap
df['minutesAsleep'] = dfSleep.groupby('date').agg('sum').minutesAsleep
df['nightSleep'] = df.minutesAsleep - df.lengthOfNap
df['activeMinutes'] = dfActive.groupby('dateTime').agg('sum').value
df['moderatelyActiveMinutes'] = dfModerate.groupby('dateTime').agg('sum').value
#df['sedentaryMinutes'] = dfSedentary.groupby('dateTime').agg('sum').value
#df['date'] = df.index

df.drop(df.head(1).index, inplace=True)
df.drop(df.tail(1).index, inplace=True)

In [34]:
listDays = []
for n in range(len(df.index)):
  
  day = df.index[n].dayofweek
  listDays.append(day)

df['day'] = listDays

In [35]:
didNap = []
noNap = []
for t in range(len(df.index)):
    if df.nap[t] > 0:
        didNap.append(1)
        noNap.append(0)
    else:
        didNap.append(0)
        noNap.append(1)

df['didNap'] = didNap
df['noNap'] = noNap

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 64 entries, 2019-06-23 to 2019-08-25
Data columns (total 12 columns):
averageBpm                 64 non-null float64
stepsTaken                 64 non-null int64
caloriesBurnt              64 non-null float64
nap                        64 non-null float64
lengthOfNap                64 non-null float64
minutesAsleep              64 non-null float64
nightSleep                 64 non-null float64
activeMinutes              64 non-null int64
moderatelyActiveMinutes    64 non-null int64
day                        64 non-null int64
didNap                     64 non-null int64
noNap                      64 non-null int64
dtypes: float64(6), int64(6)
memory usage: 9.0 KB

In [37]:
df_csv = df.to_csv('master_df.csv', header=True)